/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.block-language-lrc {
    font-family: var(--font-monospace);
}

.lyrics-timestamp {
    color: var(--text-accent);
    cursor: pointer;
    width: 5.5rem;
    display: inline-block;
    padding: 5px 0;
}

.lyrics-line p {
    flex: 1;
    padding: 5px;
    margin: 0;
}

.lyrics-timestamp::hover {
    color: var(--text-accent-hover);
    cursor: pointer;
}

.lyrics-highlighted p {
    background-color: var(--text-selection);
    border-radius: 5px;
}

.player-wrapper {
    position: sticky;
    top: 0;
}

.lyrics-line {
    display: flex;
    padding: 3px;
}
